.popover {
  max-width: 600px;
  width: auto;
}

.item img {
    width: 100%;
    max-height: 300px;
    height: auto;
    vertical-align: middle;
    padding:1px;
    border:1px solid grey;
    background-color:white;
    -ms-interpolation-mode: bicubic;
  }
}

.booktitle {
  line-height: 20px;
}

.bookauthor {
  line-height: 15px;
  text-align: right;
}

.item {
  width: 200px;
  margin: auto;
}

.carousel-div {
    background-color: #F1F1F1;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    height: 500px;
    padding-top: 50px;
}
