html { height: 100%; }

body {
  background-color: #004990;
  font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
  font-size: 85%;
  font-style: normal;
  font-weight: normal;
  height: 100%;
  margin: 0;
  text-align: center;
}

.searchbar {
  background-color: #004990;
  clear: both;
  float: right;
  text-align: right;
}

.container-fluid { height: 100%; }

.header {
  background-color: #fff;
  margin: 0px auto;
  text-align: left;
  width: 100%;
}

.navbar {
  display: inline;
  font-size: .9em;
  margin: 0px;
  padding: 0px;
}

.navbar ul { padding-left: 5px; }

.navbar li a:link, .navbar li a:visited {
  color: #FF6D00;
  font-family: Arial,"Arial Unicode MS",Helvetica,Verdana,sans-serif;
  font-weight: bold;
  padding: 6px 10px 0px 10px;
  text-decoration: none;
  width: auto;
}

/* Padding bewteen links in open pull-down menu*/
.open ul li a:link { padding: 4px 10px 4px 10px; }

.right { float: right; margin: 0px; padding: 0px; }

.maincontent {
  /*line-height: 40px;*/
  margin: 0px auto;
  text-align: left;
  width: 100%;
  background-color: #fff;
  min-height: 1000px;
}

.topLogoSmall img {
  border: 0;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-top: 10px;
}

/* Styling for FW Olin Library text */
.topLogoSmallText { font-size: 2.5em; font-weight: bold 150%; padding-left: 15px; }

/* Styling for FW Olin Library text */
.topLogoSmallText a:link, .topLogoSmallText a:visited { color: #004990; text-decoration: none; }

/* Padding between Mills  image and FW Olin Library text */
.mills { padding-bottom: 10px; }

.searchNavBut { margin: 3px 10px 3px 5px; vertical-align: middle; }

/* Carousel fade transition - Usage: <div id="myCarousel" class="carousel slide carousel-fade">*/
.carousel.carousel-fade .item {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {

  left: 0;
  z-index: 1;
}

.carousel.carousel-fade .carousel-control {
  z-index: 3;
}​

/* Carousel max image width */
.carousel .item > img {
  max-width: 250px;
}

.center {
  margin: 0px auto;
  width: 50%;
}

.popover {
  width: auto;
}

.popover-inner {
  font-size: 80%;
  width: 100%;
}

.bookcover a img {
min-width: 100%;
width: auto 9;
height: auto;
vertical-align: middle;
padding:1px;
border:1px solid grey;
background-color:white;
-ms-interpolation-mode: bicubic;
}

.booktitle {
  line-height: 20px;
}

.bookauthor {
  line-height: 15px;
  text-align: right;
}

.covercontainer {
  width: 290px;
  margin: auto;
}

/*select {
height: 20px;
line-height: 20px;
}*/

h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
